/* aboutUs.css */

/* Responsive styles for AboutUs content */
.about-us-content {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
  }
  
  .about-us-content h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .about-us-content p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
  }
  
  .about-us-content ul {
    font-size: 16px;
    line-height: 1.5;
    margin-left: 20px;
    padding-left: 10px;
  }
  
  /* Media query for smaller screens */
  @media (max-width: 768px) {
    .about-us-content {
      padding: 10px;
    }
  
    .about-us-content h2 {
      font-size: 20px;
    }
  
    .about-us-content p {
      font-size: 14px;
      margin-bottom: 15px;
    }
  
    .about-us-content ul {
      font-size: 14px;
      margin-left: 10px;
      padding-left: 0;
    }
  }
  